@import 'variables';
@import 'fonts';

body {
  background: $themeColor-Light url('../images/grumpy.jpg') no-repeat right;
  font-family: 'Open Sans', sans-serif;
  h1,
  h2 {
    color: $themeColor-Dark;
  }
}
